@model CraftworkProject.Web.ViewModels.Account.UserViewModel

<section class="user-profile section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
				<div class="sidebar">

					<div class="widget user">
						<div class="image d-flex justify-content-center">
							<img src="~/img/profile/@Model.CurrentProfilePicture" alt="" class="">
						</div>
						<h5 class="text-center">@Model.Username</h5>
					</div>
					
					<div class="widget user-dashboard-menu">
						<ul>
							<li class="active"><a href="#"><i class="fa"></i>Profile</a></li>
							<li><a href="/orders/pendingorders"><i class="fa"></i>Pending orders<span>@ViewData["pendingOrdersCount"]</span></a></li>
							<li><a href="/orders/canceledorders"><i class="fa"></i>Canceled orders<span>@ViewData["canceledOrdersCount"]</span></a></li>
							<li><a href="/orders/finishedorders"><i class="fa "></i>Finished orders<span>@ViewData["finishedOrdersCount"]</span></a></li>
							<li><a href="/account/logout"><i class="fa fa-cog"></i> Logout</a></li>
						</ul>
					</div>
					
				</div>
			</div>
			
			<div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
				
				<div class="widget welcome-message">
					<h2>Edit profile</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
				</div>

				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="widget personal-info">
							<h3 class="widget-header user">Edit Personal Information</h3>
							<form method="post" action="/profile/changepersonalinfo" enctype="multipart/form-data">
								<input hidden asp-for="Id">
								<input hidden asp-for="Username">
								<input hidden asp-for="CurrentPassword">
								<!-- First Name -->
								<div class="form-group">
									<label asp-for="FirstName" for="first-name">First Name</label>
									<input asp-for="FirstName" type="text" class="form-control" id="first-name">
									<span asp-validation-for="FirstName"></span>
								</div>
								<!-- Last Name -->
								<div class="form-group">
									<label asp-for="LastName" for="last-name">Last Name</label>
									<input asp-for="LastName" type="text" class="form-control" id="last-name">
									<span asp-validation-for="LastName"></span>
								</div>
								<!-- File chooser -->
								<div class="form-group choose-file d-inline-flex">
									<i class="fa fa-user text-center px-3"></i>
									<input asp-for="ProfilePicture" type="file" class="form-control-file mt-2 pt-1" id="input-file">
									<span asp-validation-for="ProfilePicture"></span>
								</div>
								<!-- Submit button -->
								<button class="btn btn-transparent">Save Changes</button>
							</form>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<!-- Change Password -->
						<div class="widget change-password">
							<h3 class="widget-header user">Change Password</h3>
							<form method="post" action="/profile/changepassword">
								<input hidden asp-for="Id">
								<input hidden asp-for="Username">
								<input hidden asp-for="FirstName">
								<input hidden asp-for="LastName">
								<!-- Current Password -->
								<div class="form-group">
									<label asp-for="CurrentPassword" for="current-password">Current Password</label>
									<input asp-for="CurrentPassword" type="password" class="form-control" id="current-password">
									<span asp-validation-for="CurrentPassword"></span>
								</div>
								<!-- New Password -->
								<div class="form-group">
									<label asp-for="NewPassword" for="new-password">New Password</label>
									<input asp-for="NewPassword" type="password" class="form-control" id="new-password">
									<span asp-validation-for="NewPassword"></span>
								</div>
								<!-- Confirm New Password -->
								<div class="form-group">
									<label asp-for="ConfirmNewPassword" for="confirm-password">Confirm New Password</label>
									<input asp-for="ConfirmNewPassword" type="password" class="form-control" id="confirm-password">
									<span asp-validation-for="ConfirmNewPassword"></span>
								</div>
								<!-- Submit Button -->
								<button class="btn btn-transparent">Change Password</button>
							</form>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<!-- Change Phone Number -->
						<div class="widget change-email mb-0">
							<h3 class="widget-header user">Change Phone Number</h3>
							<div class="form-group">
								@if (ViewBag.PhoneNumberConfirmed)
								{
									<label for="zip-code">Phone Number <b>(Confirmed)</b></label>
								}
								else
								{
									<label for="zip-code">Phone Number <b>(Not Confirmed)</b></label>
								}
								<input readonly type="text" class="form-control" id="zip-code" value="@Model.PhoneNumber">
								<a href="/profile/changephonenumber" class="btn btn-transparent my-4">Change</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<!-- Change Email Address -->
						<div class="widget change-email mb-0">
							<h3 class="widget-header user">Edit Email Address (in future)</h3>
							<form action="#">
								<!-- Current Password -->
								<input hidden asp-for="Id">
								<input hidden asp-for="Username">
								<input hidden asp-for="FirstName">
								<input hidden asp-for="LastName">
								<div class="form-group">
									@if (ViewBag.EmailConfirmed)
									{
										<label for="current-email">Current Email <b>(Confirmed)</b></label>

									}
									else
									{
										<label for="current-email">Current Email <b>(Not Confirmed)</b></label>

									}
									<input readonly type="email" class="form-control" id="current-email" value="@ViewBag.Email">
								</div>
								<!-- New email -->
								<div class="form-group">
									<label for="new-email">New Email</label>
									<input readonly type="email" class="form-control" id="new-email">
								</div>
								<!-- Submit Button -->
								<button disabled class="btn btn-transparent">Change email</button>
							</form>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>