@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<CraftworkProject.Domain.Models.Review>

<section class="content-header">
    <h1>
    Reviews
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
    <div class="col-xs-12">
        <div class="box">
        <div class="box-header">
            <h3 class="box-title">Manage reviews</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Product</th>
                <th>Title</th>
                <th>Rating</th>
                <th>Publication Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.ToList())
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.User.Username)</td>
                    <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                    @{
                        //TODO: show local time (I have no time and no intention to fix it in the nearest future, it's not critical)
                    }
                    <td>@Html.DisplayFor(modelItem => item.PublicationDate)</td>
                    <td><a href="/admin/reviews/update/@item.Id">Update</a> | <a href="" onclick="Delete('@item.Id')">Delete</a></td>
                </tr>
            }
            </table>
        </div>
        <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<!-- page script -->
<script>
    $(function () {
        $('#example1').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'New review',
                    
                    action: function ( e, dt, node, config ) {
                        window.location.replace('/admin/reviews/create')
                    }
                }
            ]
        });
    });
    
    function Delete(id, callback){
        var r = confirm("Are you sure you want to Delete?");
        if (r) {
            $.ajax(
            {
                type: 'POST',
                dataType: 'text',
                url: '/admin/reviews/delete',
                data: {
                    id: id
                },
                success: function (result) {
                    window.location.replace('/admin/reviews');
                }
            });
        } 
    }
</script>