@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
@model List<CraftworkProject.Domain.Models.Product>

<section class="content-header">
    <h1>
    Products
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
    <div class="col-xs-12">
        <div class="box">
        <div class="box-header">
            <h3 class="box-title">Manage products</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Short description</th>
                <th>Price</th>
                <th>In stock</th>
                <th>Category</th>
                <th>Rating</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.ShortDesc)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td>@Html.DisplayFor(modelItem => item.InStock)</td>
                        <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                        <td>
                            <img src="~/img/product/@item.ImagePath" width="40" height="40" />
                        </td>
                        <td><a href="/admin/products/update/@item.Id">Update</a> | <a href="" onclick="Delete('@item.Id')">Delete</a></td>
                    </tr>
                }
            </table>
        </div>
        <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<!-- page script -->
<script>
    $(function () {
        $('#example1').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'New product',
                    
                    action: function ( e, dt, node, config ) {
                        window.location.replace('/admin/products/create')
                    }
                }
            ]
        });
    });
    
    function Delete(id, callback){
        var r = confirm("Are you sure you want to Delete?");
        if (r) {
            $.ajax(
            {
                type: 'POST',
                dataType: 'text',
                url: '/admin/products/delete',
                data: {
                    id: id
                },
                success: function (result) {
                    window.location.replace('/admin/products');
                }
            });
        } 
    }
</script>